@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
body {
  background-color: #ffff;
  color: #141414;
}

/* Dark theme */
body.dark {
  background-color: #141414;
  color: #FFFFFD;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }
}

/* Animations */
@keyframes fade-in-scale {
  from {
    transform: scale(0.5);
    opacity: 0; /* Add opacity for smoother transition */
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fade-in-scale {
  animation: fade-in-scale 1s ease-in-out forwards;
}

@keyframes fade-in-translate {
  from {
    opacity: 0;
    transform: translateY(20px); /* Moved from below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Original position */
  }
}

.animate-fade-in-translate {
  animation: fade-in-translate 2s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px); /* Optional: Adds a slight upward motion */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade-in-blur {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.animate-fade-in-blur {
  animation: fade-in-blur 2s ease-in-out forwards;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0; /* Adding opacity for smoother effect */
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1s ease-in-out forwards;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0; /* Adding opacity for smoother effect */
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 1s ease-in-out forwards;
}
